

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>World Happiness Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="mapdata.js"></script>
  <script src="worldmap.js"></script>

 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
 crossorigin="" />
 
 <!-- Our CSS -->
  <link rel="stylesheet" href="style.css">


</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img src="assets/happiness.png" alt="joyful people" width="300" height="150">
        </div>
        <div class="col-md-6">
          <h3 class="text-right">World Happiness Index</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
          <div class="alert alert-primary" role="alert">
            </div>
            <div class="alert alert-success" role="alert">
            </div>
      </div> 
     
    <!-- Row 1 -->
    <div class="row">
      <div class="col-md-12">
        <h3>What is the World Happiness Report?</h3>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <div class="col-md-6">
        <p>The World Happiness Report is a landmark survey of the state of global happiness. The first report was published in 2012, the second in 2013, the third in 2015, and the fourth in the 2016 Update. The World Happiness 2017, which ranks 155 countries by their happiness levels, was released at the United Nations at an event celebrating International Day of Happiness on March 20th. The report continues to gain global recognition as governments, organizations and civil society increasingly use happiness indicators to inform their policy-making decisions. Leading experts across fields – economics, psychology, survey analysis, national statistics, health, public policy and more – describe how measurements of well-being can be used effectively to assess the progress of nations. The reports review the state of happiness in the world today and show how the new science of happiness explains personal and national variations in happiness.</p>
      </div>
      <div class="col-md-6">
        <h3>The scores are based on answers to the main life evaluation question...</h3>
        <p>...this question, known as the Cantril ladder, asks respondents to think of a ladder with the best possible life for them being a 10 and the worst possible life being a 0 and to rate their own current lives on that scale, in consideration of these six key variables:</p>
        <ol>
            <li>Economic Production</li>
            <li>Health</li>
            <li>Freedom</li>
            <li>Absence of Corruption</li>
            <li>Generosity</li>
          </ol>
    </div>
    </div>

    <hr>

   <!-- Rows for visualizations and maps -->

    <div class="row">
      <div class="col-md-12">
        <h4>World Happiness Rank for 2019</h4> 
        <p>See the latest data for each country. Move your cursor over the country to see where it ranked in 2019</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- The div where we will inject our map -->
        <div id="mapid"></div>

    <hr>   
    </div>

    <!-- Megan's graph -->

 <div class="row">
      <div class="col-md-12">

    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h2>Happiness Index Score Breakdown</h2>
          <p>The size of the bubble represents the ranking of that dimension compared to other countries. The happiest country will have a large "Happiness" circle, while the least happy will have a very small circle.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="well">
            <h5>Country:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Score Breakdown</h3>
            </div>
            <div id="sample-metadata" class="panel-body"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="bubble"></div>
          </div>
        </div>
    </div>

  </div>
</div>

<!-- 
    <!-- <div class="row">
      <div class="col-md-12">
          <h4>Visualization 2</h4> 
          <p>Click on this map to observe the changes in the Index between 2015-2019</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <!-- The div where we will inject our map -->
          <!-- <div id="map"></div>
          </div>
        </div> --> 
  
    <hr>

    <div class="row">
      <div class="col-md-12">
        <h4>Visualization 3</h4> 
        <p>Find the current top and bottom 5 countries for all criteria</p>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <!-- The div where we will inject our map -->
        <div id="map"></div>
        </div>
      </div>

    <hr>


      
    <div class="row justify-content-left">
        <div class="col-md-4">
          <div class="box">
            <h5>A group project by:</h5>
            <h6>Megan Gebhart</h6>
            <h6>Julissa Guzman</h6>
            <h6>Samuel Okunola</h6>
            <h6>Rainer Perry</h6>
          </div>
        </div>
        </div>
      </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="plots.js"></script>


  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- API key -->
  <!-- <script type="text/javascript" src="config.js"></script> -->
  <!-- Our JS -->
  <!-- <script type="text/javascript" src="logic.js"></script> -->

</body>
    
</html>


